html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden; /* 스크롤바 제거 */
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; /* 화면 너비를 폰 화면 너비로 설정 */
  height: 100vh; /* 화면 높이를 폰 화면 높이로 설정 */
  background-color: #f9f9f9; /* 원하는 배경색 */
}
